<div class="activity-item" *ngIf="item.id <= 4">
	<div class="activity-item__icon">
		<div class="activity-item__icon-inner icon_{{ getTypeIcon(item.id) }}"></div>
	</div>
	<div class="activity-item__text" [ngClass]="{'activity-item__text_quote': item.id === 3}">
		<p class="paragraph">
			{{ item.body }}
		</p>
		<!-- <div class="activity-item__imgs" >
			<div class="activity-item__img" >
				<img src="{{ item.attachments[idx] }}" alt=""/>
			</div>
		</div> -->
	</div>
	<div class="activity-item__date">
		<span class="activity-item__date-inner" *ngIf="item.type != 3">
			{{ item.date | date:'shortTime' }} 
		</span>
	</div>
</div>