.task-item {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.task-item__icon {
  display: flex;
  flex-basis: 60px;
  flex-shrink: 0;
}
.task-item__icon-inner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.task-item__text {
  display: flex;
}