<div class="sidebar-menu">
  <div class="sidebar-menu__heading">menu</div>
  <nav class="sidebar-menu__nav">
    <ul class="sidebar-menu__nav-inner">
      <li class="sidebar-menu__item">
        <a class="sidebar-menu__link" routerLink="/">Home</a>
      </li>
      <li class="sidebar-menu__item">
        <a class="sidebar-menu__link" routerLink="/my-tasks">My Tasks</a>
      </li>
      <li class="sidebar-menu__item">
        <a class="sidebar-menu__link" routerLink="/notifications">Notifications</a>
        <span class="sidebar-menu__notification">
					<span class="notification_circle">
						<span class="notification_circle-inner">3</span>
					</span>
				</span>
      </li>
    </ul>
  </nav>
</div>
